body {
    font-family: courier;
    background-color: #72afcb;
}

html, .fullscreen {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    margin: auto;
}

.title {
    font-size: 3rem;
    color: rgb(220, 227, 233);
}

a {
    color: rgb(220, 227, 233);
}